@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-gray: #486580;
  --gray-100: rgb(243, 244, 246);
  --snow: #f4f4f6;
  --rich-black-fogra-29: #0e1116ff;
  --raisin-black: #202632ff;
  --english-lavender: #b5838dff;
  --old-lavender: #6d6875ff;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--snow);
}

.blue-gray {
  color: var(--blue-gray);
}
